body {
  font-family: Arial, sans-serif;
  background-color: #5b7a98;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(164, 87, 87);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 20px;
  width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.card-content p {
  font-size: 16px;
  color: #777;
  margin: 10px 0;
}

.card-content .price {
  font-size: 20px;
  color: #E74C3C;
  margin: 10px 0;
}

.card-content button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.card-content button:hover {
  background-color: #0056b3;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.shopping-cart{
  justify-content: space-between;
  background-color: #145365;
  padding: 20px 30px;
}

.product-item{
  padding: 40px;
}

.button{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Receipt{
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns the button to the top of the container */
  margin-top: 30px;
  padding: 30px 40px;
  font-size: 30px;
 
  
}


.decrease {
  padding: 20px 30px;
  font-size: 20px;
  background-color: #4433c8;
  color: #e0e0eb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 20px; /* Adjust as needed */
}
.increase {
  padding: 20px 30px;
  font-size: 20px;
  background-color: #4433c8;
  color: #e0e0eb;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 20px; /* Adjust as needed */
}



.Total{
  text-align: right;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}